# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ipynb_checkpoints/
backend/docs_embedded.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Operating System files
.vscode/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini
